software/projects/common/src/main/resources/schema/Consent.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consents">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="participant">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="consentDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="collectionProtocolEvent"/>
              <xs:element name="consentData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="specimenLabel"/>
                    <xs:element name="consentTierStatus" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="consentTier">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="statement"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="statusType" name="status"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="collectionProtocol">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="shortTitle"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="statusType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="YES" />
		<xs:enumeration value="No" />
		<xs:enumeration value="WITHDRAW" />
		<xs:enumeration value="Not Specified" />
	</xs:restriction>
  </xs:simpleType>
</xs:schema>