software/openClinicaCCTSPlugin/wsdl/createSubjectDefinition.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://openclinica.org/ws/ccts/subject/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://openclinica.org/ws/ccts/subject/v1" targetNamespace="http://openclinica.org/ws/ccts/subject/v1">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:subjects="http://openclinica.org/ws/ccts/subject/v1" elementFormDefault="qualified" targetNamespace="http://openclinica.org/ws/ccts/subject/v1">


    <element name="commitRequest" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="gridId" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
                <element name="subject" type="subjects:SubjectType" xmlns="http://www.w3.org/2001/XMLSchema"/>
                <element name="study" type="subjects:StudyType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            </sequence>
        </complexType>
    </element>
    
    <element name="commitResponse" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="result" type="string" xmlns="http://www.w3.org/2001/XMLSchema"/>
            </sequence>
        </complexType>
    </element>
    
    <element name="rollbackRequest" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="gridId" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
                <element name="subject" type="subjects:SubjectType" xmlns="http://www.w3.org/2001/XMLSchema"/>
                <element name="study" type="subjects:StudyType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            </sequence>
        </complexType>
    </element>
    
    <element name="rollbackResponse" xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType xmlns="http://www.w3.org/2001/XMLSchema">
            <sequence xmlns="http://www.w3.org/2001/XMLSchema">
                <element name="result" type="string" xmlns="http://www.w3.org/2001/XMLSchema"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="SubjectType" xmlns="http://www.w3.org/2001/XMLSchema">
        <sequence xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="personId" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <element name="studySubjectId" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <element minOccurs="0" name="secondaryId" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <element name="enrollmentDate" type="date" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <element name="gender" type="subjects:genderType" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <element name="dateOfBirth" type="date" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </sequence>
    </complexType>

    <complexType name="StudyType" xmlns="http://www.w3.org/2001/XMLSchema">
        <attribute name="uniqueIdentifier" type="subjects:customStringType" xmlns="http://www.w3.org/2001/XMLSchema"/>
    </complexType>
    
    <simpleType name="genderType" xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction base="string" xmlns="http://www.w3.org/2001/XMLSchema">
            <enumeration value="m" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <enumeration value="f" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </restriction>
    </simpleType>
    
    <simpleType name="customStringType" xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction base="normalizedString" xmlns="http://www.w3.org/2001/XMLSchema">
            <minLength value="1" xmlns="http://www.w3.org/2001/XMLSchema"/>
            <whiteSpace value="collapse" xmlns="http://www.w3.org/2001/XMLSchema"/> 
        </restriction>
    </simpleType>
    
</schema>
  </wsdl:types>
  <wsdl:message name="commitRequest">
    <wsdl:part element="tns:commitRequest" name="commitRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollbackResponse">
    <wsdl:part element="tns:rollbackResponse" name="rollbackResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commitResponse">
    <wsdl:part element="tns:commitResponse" name="commitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollbackRequest">
    <wsdl:part element="tns:rollbackRequest" name="rollbackRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ws">
    <wsdl:operation name="commit">
      <wsdl:input message="tns:commitRequest" name="commitRequest">
    </wsdl:input>
      <wsdl:output message="tns:commitResponse" name="commitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <wsdl:input message="tns:rollbackRequest" name="rollbackRequest">
    </wsdl:input>
      <wsdl:output message="tns:rollbackResponse" name="rollbackResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap11" type="tns:ws">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="commit">
      <soap:operation soapAction=""/>
      <wsdl:input name="commitRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="commitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <soap:operation soapAction=""/>
      <wsdl:input name="rollbackRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rollbackResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsService">
    <wsdl:port binding="tns:wsSoap11" name="wsSoap11">
      <soap:address location="/ws/ccts/subject/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>